<div xmlns:th="http://www.thymeleaf.org"
     style="border: 1px solid #ccc;padding:5px;margin-bottom:20px;">
    <a th:href="@{/}">Home</a>
    | &nbsp;
    <a th:if="${#request.userPrincipal != null}" th:href="@{/whoAmI}">User Info</a>
    <a th:if="${#request.userPrincipal == null}" th:href="@{/signIn}">Login</a>
    | &nbsp;
    <a th:if="${#request.userPrincipal != null}" th:href="@{/users}">List of users</a>
    <a th:if="${#request.userPrincipal == null}" th:href="@{/signUp}">Registration</a>
    | &nbsp;
    <a th:if="${#request.userPrincipal != null}" th:href="@{/signOut}">Logout</a>
</div>